.Display {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1em;

	.not-running {
		color: var(--fg-darkerer);
		text-align: center;
		font-size: 1.5em;
		font-style: italic;
	}

	.spacer {
		flex-grow: 1;
	}
}