.Info {
	font-size: 0.9em;
	color: var(--fg-darker);
	overflow: hidden;
	transition: height 0.1s ease-in-out;
	interpolate-size: allow-keywords;


	p {
		margin-top: 0;
		svg {
			vertical-align:middle;
			position: relative;
			top: -0.1em;
			margin-left: 0.25em;
		}
		a:not(:hover) svg path {fill: var(--fg-darkerer)}
	}

	p a:not(:hover) svg path.heart {fill: #FF5A16}
	p a:not(:hover) svg path.outline {fill: var(--bg-darker)}

	p.social a, p.tipping a {
		display: inline-block;
		padding: 0.25em;
		transition: transform 0.1s ease-in-out;
		&:hover {
			transform: scale(1.2);
		}
	}

	p.desktop, p.tipping2 {
		a, a:visited {
			color: var(--fg);
			text-decoration: none;
			border-bottom: 2px dotted var(--fg-lighter);
			font-weight: bold;


			&:hover {
				border-bottom: 2px solid var(--fg-lighterer);
				color: var(--fg-lighter);
			}
		}
	}

	.tipping {
		display: none;
	}

	hr {
		margin: 2em 0;
		border: 0;
		border-top: 3px solid var(--bg-darkerer);
		border-radius: 0.5em;
	}
}