.Settings {
	flex-shrink: 0;
	width: 320px;
	background: var(--bg-darker);
	box-sizing: border-box;
	overflow: hidden;
	transition: width 0.1s ease-in-out;
	position: relative;

	.container {
		width: 300px;
		position: absolute;
		right: 0.25em;
		padding: 0 1em;
		box-sizing: border-box;
		height: 100%;
		overflow-y: scroll;
		scrollbar-width: thin;
		scrollbar-color: var(--bg-darkerer) var(--bg-darker);
		
		padding-bottom: 4em;

		> h1 {
			margin-bottom: 0;
			color: var(--fg-darker);
			display: flex;
			justify-content: space-between;
			align-items: center;

			button {
				background: none;
				border: none;
				cursor: pointer;
				transition: transform 0.1s ease-in-out;
				visibility: hidden;

				&:hover {
					transform: scale(1.2);

					svg {
						path {fill: var(--fg)}
					}
				}

				svg {
					width: 2.5em;
					height: 2.5em;
					path {
						fill: var(--fg-darkerer);
						transition: fill 0.1s ease-in-out;
					}
					
				}
			}

			&:hover button {visibility: visible}
		}

		> h2 {margin-top: 0.5em;}

		> button {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--bg-lighter);
			color: var(--fg-lighter);
			border: none;
			border-radius: 4px;
			padding: 1em;
			margin: 1em 0;
			font-size: 1em;
			font-weight: bold;
			width: 100%;
			border-bottom: 2px solid var(--bg-darkerer);
			cursor: pointer; 
			transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	
			&:hover {
				background-color: var(--bg-lighterer);
				color: var(--fg-lighterer);
				transform: scale(1.05);
			}
	
			svg {
				width: 1.25em;
				height: 1.25em;
				margin-right: 1em;
				polygon {fill: var(--fg-lighter)}
			}
		}

		.info {
			color: var(--fg-darkerer);
		}

		.tipping {
			text-align: center;
			margin: 1em 1em 0em;
			p {
				margin: 0;
				font-size: 0.8em;
				font-weight: bold;
				color: var(--fg-darkerer);
			}
			a {
				opacity: 0.25;
				&:hover {opacity: 1}
			}
		}
	
	}

	&:not(.open) {
		width: 0px;
	}
	
	.helpPopup {
		font-size: 0.9em;
		color: var(--fg-darker);
		overflow: hidden;
		transition: height 0.1s ease-in-out;
		interpolate-size: allow-keywords;

		p {margin-top: 0}
		p.social {
			svg {vertical-align:middle;}
			a:not(:hover) svg path {fill: var(--fg-darkerer)}
		}
		a {
			display: inline-block;
			padding: 0.25em;
			transition: transform 0.1s ease-in-out;
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}