.Settings {
	flex-shrink: 0;
	width: 300px;
	background: var(--bg-darker);
	box-sizing: border-box;
	overflow: hidden;
	transition: width 0.1s ease-in-out;
	position: relative;

	.container {
		width: 300px;
		position: absolute;
		right: 0.25em;
		padding: 0 1em;
		box-sizing: border-box;
		height: 100%;
		overflow-y: scroll;
		scrollbar-width: thin;
		scrollbar-color: var(--bg-darkerer) var(--bg-darker);
		
		padding-bottom: 4em;

		> h1 {
			margin-bottom: 0;
			color: var(--fg-darker);
		}
		> h2 {margin-top: 0.5em;}

		> button {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--bg-lighter);
			color: var(--fg-lighter);
			border: none;
			border-radius: 4px;
			padding: 1em;
			margin: 1em 0;
			font-size: 1em;
			font-weight: bold;
			width: 100%;
			border-bottom: 2px solid var(--bg-darkerer);
			cursor: pointer; 
			transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	
			&:hover {
				background-color: var(--bg-lighterer);
				color: var(--fg-lighterer);
				transform: scale(1.05);
			}
	
			svg {
				width: 1.25em;
				height: 1.25em;
				margin-right: 1em;
				polygon {fill: var(--fg-lighter)}
			}
		}

		.info {
			color: var(--fg-darkerer);
		}

		.tipping {
			text-align: center;
			margin: 4em 1em 0em;
			p {
				margin: 0;
				font-size: 0.8em;
				font-weight: bold;
				color: var(--fg-darkerer);
			}
			a {
				opacity: 0.25;
				&:hover {opacity: 1}
			}
		}
	
	}

	&:not(.open) {
		width: 0px;
	}
	

}